/* Apply styles to the body */
body {
  margin: 0;
  padding: 0;
  font-family: 'Arvo', serif;
  background-image: url(/pictures/pxfuel9.jpg); /* Replace 'your_background_image.jpg' with your image path */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Apply styles to form container */
form {
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Apply styles to form inputs */
input[type="text"],
input[type="password"],
input[type="submit"] {
  width: calc(100% - 20px);
  margin: 8px 0;
  padding: 10px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

input[type="text"],
input[type="password"] {
  background-color: rgba(255, 255, 255, 0.8);
}

/* Add hover effect to form inputs */
input[type="text"]:hover,
input[type="password"]:hover,
input[type="submit"]:hover {
  background-color: #f0f0f0;
}

/* Apply styles to submit button */
input[type="submit"] {
  background-color: #3498db;
  color: white;
  cursor: pointer;
}

/* Add hover effect to submit button */
input[type="submit"]:hover {
  background-color: #2980b9;
}
